
/* .list {
    list-style: none;
    color: green;
    font-size: 25px;
    width: 30px;
    height: 30px;
  }
  image
  { 
    width: 360px;
    height: 200px;
    background: url("path_to_image");
  /* } 
  /
  .container {
    display: flex;
    margin: 100px 50px 50px 50px;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  width: 150px;
  margin: 0 auto;
  border: 1px solid black;
}

.item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.1s;
}

.item:hover {
  background-color: #f1f1f10c;
}


.box{
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 30px
}
/* стилі для секції з зображеннями */
/* .image-section {
  border: none;
  list-style: none;
  margin: 24;
  padding: 0px;
  background-color: #ffffff;
  min-width: 320px;
  align-items: center;
} */
/*  
.gallery-container {
  display: flex;
  border: 1px solid black;
  list-style: none;
  margin: 24;
  padding: 0px;
  background-color: #ffffff;
  min-width: 320px;
  align-items: center;
}
.gallery {
  display: flex;
  border: 1px solid black;
  list-style: none;
  margin: 24;
  padding: 0px;
  background-color: #ffffff;
  min-width: 320px;
  align-items: center;
} */
/* стилі для самих зображень */ 
 
 body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  min-width: 320px;
  padding: 0px;
  margin: 0 auto;
  max-width: 1440px;
  align-items: center;
}
  img {
    display: flex;
    max-width: 100%;
    height: auto;
    width: 360px;
    height: 200px;
}
.gallery-link {
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  user-select: none;
  list-style: none;
}

.gallery {
  display: flex;
  list-style: none;
  width: 380px;
  padding: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-color: black;
  margin: 10px;
  counter-increment: my-counter;
}

.gallery-item {
  display: flex;
  list-style: none;
  width: 408px;
  padding: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-color: black;
  margin: 24px;
  counter-increment: my-counter;
}
.gallery-item img {
  width: 360px;
  height: 200px;
  border-radius: 5px;
  margin: 5px;
}

.gallery-item p {
  font-size: 1rem;
  margin: 0px;
}

/* 
.item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.1s;
} */
 #box {
  width: 50px;
  height: 50px;
  background-color: rgb(7, 16, 33);
  margin: 10px;
 }